---
import Base from "../../layouts/Base.astro";

import type { GetStaticPaths } from "astro";

import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection("writings", ({ data }) => {
    return data["to-publish"] === false;
  });

  console.log(`Total blog posts: ${posts.length}`);

  return posts.map((post) => {
    console.log(`Post ID: ${post.id}`);

    return {
      params: { slug: post.id },
      props: { post },
    };
  });
};

interface Props {
  post: CollectionEntry<"writings">;
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await render(post);
---

<Base pageTitle={post.id}>
  <h1>{post.data.title}</h1>
  <h2>Reading time:{remarkPluginFrontmatter.minutesRead}</h2>
  {headings.map((h) => <div>{h.slug}</div>)}

  <p>Written by: {post.data.author}</p>
  <Content />
</Base>
