---
import Base from "../../layouts/Base.astro";

import { SITE_CONFIG } from "@/config";

import type { GetStaticPaths } from "astro";

import { toFormattedDate, getDateComponents } from "../../scripts/dates";
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import {
  getWritingNeighbors,
  writingCollectionFilter,
} from "@/scripts/writings";
import NextPrevWritings from "@/components/NextPrevWritings.astro";

// This is required for dynamic routes.
export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection("writings", writingCollectionFilter);

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"writings">;
}

const { post } = Astro.props;
// const { Content, headings, remarkPluginFrontmatter } = await render(post);
const { Content } = await render(post);

const postDate = post.data.date;
const [day, _month, year] = getDateComponents(postDate);
const month = _month.toLocaleLowerCase();
const formattedDate = toFormattedDate(postDate);

// Get current writing neighbors.
const neighbors = await getWritingNeighbors(post.id);
---

<Base pageTitle={post.id} pageStyle={"clean"}>
  <article class="article">
    <div class="article-header">
      <!-- https://github.com/0xstepit/eternal-spring/blob/main/src/writings/time.md -->

      <h1>{post.data.title}</h1>

      <div class="article-meta">
        <span>Published by</span>
        <span class="article-author bold">{post.data.author}</span>
        <span>on</span>
        <!-- {headings.map((h) => <div>{h.slug}</div>)} -->
        <span class="article-meta-date italic">
          <a href={`https://www.onthisday.com/date/${year}/${month}/${day}`}
            ><time>{formattedDate}</time></a
          ></span
        >
      </div>

      {
        post.data.tags.length > 0 && (
          <ul class="post-tags smaller">
            {post.data.tags.map((tag: string) => (
              <li class="post-tag tag-container">{tag}</li>
            ))}
          </ul>
        )
      }

      {post.data.summary && <p class="article-summary">{post.data.summary}</p>}
    </div>

    <div class="decorator">
      <span>~</span>
      <span>~</span>
      <span>~</span>
    </div>

    <div class="article-content">
      <Content />
    </div>

    <div class="article-footer smaller">
      <a href={`${SITE_CONFIG.repo}/blob/main/src/writings/${post.id}.md`}>
        <span>Suggestions for improvement are always welcome!</span>
      </a>
    </div>

    <div class="article-neighbor bold">
      <NextPrevWritings neighbors={neighbors} />
    </div>
  </article>
</Base>
