---
import "../styles/global.css";
import Base from "../layouts/Base.astro";
import PostCard from "../components/PostCard.astro";

import { sortByDate } from "../scripts/posts";

import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");

const sortedPosts = sortByDate({ posts: allPosts, order: "newest" });

const pageTitle = "Blog";
---

<Base pageTitle={pageTitle}>
  <h2>All writings</h2>
  <ul class="post-cards">
    {
      sortedPosts.map((post: any) => (
        <PostCard
          url={`/blog/${post.id}/`}
          title={post.data.title}
          summary={post.data.summary}
          date={post.data.date}
          tags={post.data.tags}
        />
      ))
    }
  </ul>
</Base>
