---
import "../styles/global.css";
import Base from "../layouts/Base.astro";
import PostCardOneline from "../components/PostCardOneline.astro";
import Decorator from "../components/Decorator.astro";

import {
  sortByDate,
  groupByYear,
  writingCollectionFilter,
} from "../scripts/writings.ts";
import type { WritingEntry } from "../types.ts";

import { getCollection } from "astro:content";
const allPosts = await getCollection("writings", writingCollectionFilter);

const sortedPosts: WritingEntry[] = sortByDate({
  posts: allPosts,
});

const groupedPosts = groupByYear(sortedPosts);

const pageTitle = "Blog";
---

<Base pageTitle={pageTitle} pageStyle="clean">
  <div class="writings-container">
    <h1>All writings</h1>

    <Decorator symbol="+" />

    <p>All the writings divided by year.</p>

    <ul class="post-cards">
      {
        Array.from(groupedPosts.entries()).map(([year, posts]) => (
          <div class="group-writings">
            <h2>{year}</h2>
            {posts.map((entry) => (
              <PostCardOneline
                url={`/writings/${entry.id}/`}
                title={entry.data.title}
                summary={entry.data.summary}
                date={entry.data.date}
                tags={entry.data.tags}
              />
            ))}
          </div>
        ))
      }
    </ul>
  </div>
</Base>
