---
import "../styles/global.css";
import Base from "../layouts/Base.astro";
import PostCard from "../components/PostCard.astro";

import type { CollectionEntry } from "astro:content";

import { sortByDate } from "../scripts/posts";

import { getCollection, render } from "astro:content";
const allPosts = await getCollection("writings", ({ data }) => {
  return data["to-publish"] === false;
});

type BlogEntry = CollectionEntry<"writings">;
const sortedPosts: BlogEntry[] = sortByDate({
  posts: allPosts,
  order: "newest",
});

const postsWithMetaData = await Promise.all(
  sortedPosts.map(async (entry) => {
    // Call render() for each entry to get the injected metadata
    const { remarkPluginFrontmatter } = await render(entry);

    // Return the original entry data AND the extracted metadata
    return {
      entry,
      minutesRead: remarkPluginFrontmatter.minutesRead,
    };
  }),
);

const pageTitle = "Blog";
---

<Base pageTitle={pageTitle}>
  <h2>All writings</h2>
  <ul class="post-cards">
    {
postsWithMetaData.map(({entry, minutesRead}) => {
        return (
  <h2>Reading time:{minutesRead}</h2>
          <PostCard
            url={`/writings/${entry.id}/`}
            title={entry.data.title}
            summary={entry.data.summary}
            date={entry.data.date}
            tags={entry.data.tags}
          />
        );
      })
    }
  </ul>
</Base>
