---
import "../styles/global.css";
import Base from "../layouts/Base.astro";
import PostCard from "../components/PostCard.astro";

import { sortByDate } from "../scripts/writings.ts";
import type { WritingEntry } from "../types.ts";

import { getCollection, render } from "astro:content";
const allPosts = await getCollection("writings", ({ data }) => {
  return data["to-publish"] === true;
});

const sortedPosts: WritingEntry[] = sortByDate({
  posts: allPosts,
});

const postsWithMetaData = await Promise.all(
  sortedPosts.map(async (entry) => {
    // Call render() for each entry to get the injected metadata
    const { remarkPluginFrontmatter } = await render(entry);

    // Return the original entry data AND the extracted metadata
    return {
      entry,
      minutesRead: remarkPluginFrontmatter.minutesRead,
    };
  }),
);

const pageTitle = "Blog";
---

<Base pageTitle={pageTitle} pageStyle="clean">
  <div class="writings-container">
    <h1>All writings</h1>

    <div class="decorator">
      <span>+</span>
      <span>+</span>
      <span>+</span>
    </div>

    <ul class="post-cards">
      {
        postsWithMetaData.map(({ entry, minutesRead }) => {
          return (
            <PostCard
              url={`/writings/${entry.id}/`}
              title={entry.data.title}
              summary={entry.data.summary}
              date={entry.data.date}
              tags={entry.data.tags}
            />
          );
        })
      }
    </ul>
  </div>
</Base>
