---
import type { WritingNeighbors } from "@/types";

interface Props {
  neighbors: WritingNeighbors;
}

const { neighbors } = Astro.props;
---

<nav class="neighbor-writing-container" aria-label="Post navigation">
  {
    neighbors.previous && (
      <a
        class="neighbor-writing neighbor-writing-left"
        href={`/writings/${neighbors.previous?.url}`}
        aria-label={`Previous post: ${neighbors.previous?.title}`}
      >
        <img
          src="/icons/larrow.svg"
          alt=""
          class="nav-icon"
          aria-hidden="true"
        />
        <span>{neighbors.previous?.title}</span>
      </a>
    )
  }
  {
    neighbors.next && (
      <a
        class="neighbor-writing neighbor-writing-right"
        href={`/writings/${neighbors.next?.url}`}
        aria-label={`Next post: ${neighbors.next?.title}`}
      >
        <span>{neighbors.next?.title}</span>
        <img
          src="/icons/rarrow.svg"
          alt=""
          class="nav-icon"
          aria-hidden="true"
        />
      </a>
    )
  }
</nav>
