---
import type { WritingNeighbors } from "@/types";

interface Props {
  neighbors: WritingNeighbors;
}

const { neighbors } = Astro.props;
---

<nav class="neighbor-writing-container" aria-label="Post navigation">
  <div class="neighbor-writing neighbor-writing-left">
    {
      neighbors.previous && (
        <a
          href={`/writings/${neighbors.previous?.url}`}
          aria-label={`Previous post: ${neighbors.previous?.title}`}
        >
          <img
            src="/icons/larrow.svg"
            alt=""
            class="nav-icon"
            aria-hidden="true"
          />
          <span>{neighbors.previous?.title}</span>
        </a>
      )
    }
  </div>
  <div class="neighbor-writing neighbor-writing-right">
    {
      neighbors.next && (
        <a
          href={`/writings/${neighbors.next?.url}`}
          aria-label={`Next post: ${neighbors.next?.title}`}
        >
          <span>{neighbors.next?.title}</span>
          <img
            src="/icons/rarrow.svg"
            alt=""
            class="nav-icon"
            aria-hidden="true"
          />
        </a>
      )
    }
  </div>
</nav>
