---
import { toPostDate } from "../scripts/dates";

// Component Script (JavaScript)
interface Props {
  url: string;
  title: string;
  summary: string;
  date: Date;
  tags: Array<string>;
}

const { url, title, summary, date, tags } = Astro.props;

const formatterDate = toPostDate(date);
---

<article class="post-card">
  <header class="post-header">
    <time class="post-date">{formatterDate}</time>
    <h3 class="post-title">
      <a href={url} class="post-link">{title}</a>
    </h3>
  </header>

  {
    tags.length > 0 && (
      <ul class="post-tags">
        {tags.map((tag: string) => (
          <li class="post-tag">
            <div class="tag-container">
              <span class="tag-hash">#</span>
              <span class="tag-text">{tag}</span>
            </div>
          </li>
        ))}
      </ul>
    )
  }

  <p class="post-summary">{summary}</p>
</article>
